@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for star rating elements */
.star {
    mask: url(../src/assets/image/icons/star.svg) no-repeat center left;
}

.star:not(.star-placeholder) {
    background-color: #FFCC47;
    z-index: 2;
}

.star-placeholder {
    z-index: 1;
    background-color: gray;
}