@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .brand-text-icon {
        @apply text-[26px] font-medium font-Poppins text-primary
    }
}

section {
    /* px-4 xl:px-[150px] */
    padding: 0 16px 0 16px;
}

@media screen and (min-width: 1280px) {
    section {
        padding-left: 150px;
        padding-right: 150px;
    }
}


.star {
    mask: url(../src/assets/image/icons/star.svg) no-repeat center left;
}

.star:not(.star-placeholder) {
    background-color: #FFCC47;
    z-index: 2;
}

.star-placeholder {
    z-index: 1;
    background-color: gray;
}